/* ==========================================================================
   #INPUT
   ========================================================================== */

.c-input {
  font-size: 0.86em;
  border-radius: 2px;
  padding: 0.5em 1em;
  line-height: 1;
  border: 0;
  margin-bottom: 1.5em;
  margin-top: 0.25em;
  border: 1px solid $play-color-saturated;
}
