/* ==========================================================================
   #BASE
   ========================================================================== */

body {
  font-size: 100%;
  line-height: 1.4;
}

html {
  overflow-y: scroll;
}